/*
 * Copyright 2021 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 *     Author: Yonghyun Hwang <yonghyun@google.com>
 *
 * livepatch.lds: template for linker script. this file is actually
 * empty. However, `livepatch gen` command should add list of functions to
 * resolve the address for livepatched functions. All livepatched functions
 * are declared as void ${func}(void) in livepatch.c while actual
 * implemenation is in klp_patch.o where __${func} lives. Hence the
 * following list should be available in this file.
 *
 * list of assignments for livepatched functions
 * ${func} = __${func}
 */

